@model Medicus_V1._6._1.ViewData.AdminAddMedicineViewData
@{
    ViewBag.Title = "AddMedicine";
}

<h2>AddMedicine</h2>



<section class="wrapper">
    <div class="row">
        <div class="content-panel">
            <h3><i class="fa fa-angle-right"></i> Add Medicine</h3>
            <hr>
            @using (Html.BeginForm("AddMedicine", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.medicineName, new { @class = "col-sm-2" })
                    <div class="col-sm-4">
                        <input class="form-control form-round" id="medicineName" name="medicineName" type="text" />
                    </div>
                    @Html.LabelFor(m => m.supplierPrice, new { @class = "col-sm-2" })
                    <div class="col-sm-4">
                        <input class="form-control form-round" id="supplierPrice" name="supplierPrice" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.sellPrice, new { @class = "col-sm-2" })
                    <div class="col-sm-4">
                        <input class="form-control form-round" id="sellPrice" name="sellPrice" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.genericName, new { @class = "col-sm-2" })
                    <div class="col-sm-4">
                        <input class="form-control form-round" id="genericName" name="genericName" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.category, new { @class = "col-sm-2" })
                    <div class="col-sm-4">
                        <input class="form-control form-round" id="category" name="category" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.details, new { @class = "col-sm-2" })
                    <div class="col-sm-4">
                        <input class="form-control form-round" id="details" name="details" type="text" />
                    </div>
                </div>

                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-round btn-theme btn-primary">Save</button>
                    <button type="button" class="btn btn-round btn-theme btn-success">Save And Add Another</button>
                </div>

            }

        </div>
    </div>



</section>




