@model Medicus_V1._6._1.ViewData.CustomerOrderMedicineViewData
@{
    ViewBag.Title = "Customer Order Medicine";
    var serial = 3;
}

<h2>@ViewBag.Title</h2>



    <section class="wrapper">
        <div class="row">
            <div class="content-panel">
                <h3><i class="fa fa-angle-right"></i> Add Puschase</h3>
                <hr>
                @using (Html.BeginForm("OrderMedicine", "Customer", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.medicineId, new { @class = "col-sm-2" })
                        <div class="col-sm-4">
                            <input class="form-control form-round" id="medicineId" name="medicineId" type="text" list="hosting-plan" />
                            <datalist id="hosting-plan">
                                @foreach (var i in Model.medicineList)
                                {
                                    <option value=@(i.MedicineId)>@(i.Name)</option>
                                }
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.pharmacyId, new { @class = "col-sm-2" })
                        <div class="col-sm-4">
                            <input class="form-control form-round" id="pharmacyId" name="pharmacyId" type="text" list="hosting-plan-2" />
                            <datalist id="hosting-plan-2">
                                @foreach (var i in Model.pharmacyList)
                                {
                                    <option value=@(i.PharmacyId)>@(i.Name)</option>
                                }
                            </datalist>
                        </div>
                        @Html.LabelFor(m => m.quantity, new { @class = "col-sm-2" })
                        <div class="col-sm-4">
                            <input class="form-control form-round" id="quantity" name="quantity" type="text" />
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <button type="submit" class="btn btn-round btn-theme btn-primary">Save</button>
                        <button type="button" class="btn btn-round btn-theme btn-success">Save And Add Another</button>
                    </div>

                }

                <h4><i class="fa fa-angle-right"></i> Invoice</h4>
                <hr>
                <table class="table table-striped table-advance table-hover" id="myTable">

                    <thead>
                        <tr>
                            <th>Cart Id</th>
                            <th>Order Id</th>
                            <th> Medicine Name</th>
                            <th> Quantity</th>
                            <th> Sale Price/Unit</th>
                            <th> Discount/Unit</th>
                            <th> Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.allList)
                        {
                            <tr>
                                <td>@i.CCartId</td>
                                <td>@i.CustomerOrderId</td>
                                <td>@i.Name</td>
                                <td>@i.Quantity</td>
                                <td>@i.SellPrice</td>
                                <td>0</td>
                                <td>@(i.Quantity*i.SellPrice)</td>
                                <td> <button class="btn btn-danger btn-la"><i class="fa fa-trash-o "></i></button></td>

                            </tr>
                        }
                        
                        <tr>
                            <td rowspan="5" colspan="4"></td>

                            <td colspan="2">Total Discount: 200 tk</td>
                        </tr>
                        <tr>
                            <td colspan="2">Total Tax: 0 tk</td>
                        </tr>
                        <tr>
                            <td colspan="2">Total Buy: 15000 tk</td>
                        </tr>
                        <tr>
                            <td colspan="2">Paid: <input type="Text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td colspan="2">Due: <input type="Text" class="form-control"></td>
                        </tr>


                    </tbody>
                </table>

            </div>
        </div>



    </section>
    
<!--
<section class="wrapper">
    <h3><i class="fa fa-angle-right"></i> Customer Cart</h3>
    <div class="medi-button">
        <button type="button" class="btn btn-round" onclick="myFunction()"><i class="fa fa-plus"></i> Add New Order</button>
        <button type="button" class="btn btn-round"><i class="fa fa-edit"></i> Manage Order</button>
    </div>
    <div class=pos-entry>
        <label>Pharmacy Name</label>
        <input class="form-control form-round" id="pharmacyId" name="pharmacyId" type="text" list="hosting-plan" />
        <datalist id="hosting-plan">
            @foreach (var i in Model.pharmacyList)
            {
                <option value=@(i.PharmacyId)>@(i.Name)</option>
            }
        </datalist>

    </div>

    <div class="row mt">
        <div class="col-md-12">
            <div class="content-panel">
                <table class="table table-striped table-advance table-hover" id="myTable">
                    <h4><i class="fa fa-angle-right"></i> Invoice</h4>
                    <hr>

                    <thead>
                        <tr>
                            <th>Serial no.</th>
                            <th> Medicine Name</th>
                            <th> Quantity</th>
                            <th> Sale Price/Unit</th>
                            <th> Discount/Unit</th>
                            <th> Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="myRow">
                            <td>1</td>
                            <td><input type="search"></td>
                            <td><input type="number"></td>
                            <td><input type="Text"></td>
                            <td><input type="Text"></td>
                            <td><input type="Text"></td>
                            <td> <button class="btn btn-danger btn-la"><i class="fa fa-trash-o "></i></button></td>


                        </tr>
                        <!--<tr>
                            <td rowspan="5" colspan="4"></td>

                            <td colspan="2">Total Discount: <input type="Text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td colspan="2">Total Tax: <input type="Text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td colspan="2">Total Buy: <input type="Text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td colspan="2">Paid: <input type="Text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td colspan="2">Due: <input type="Text" class="form-control"></td>
                        </tr>


                    </tbody>
                </table>
                <div class="form-group">
                    <button type="button" class="btn btn-round btn-theme btn-primary">Save</button>
                    <button type="button" class="btn btn-round btn-theme btn-success">Add Another</button>
                </div>
            </div><!-- /content-panel 
        </div><!-- /col-md-12 
    </div><!-- /row 


</section>


<script>
    var i = 0;
    //function buttonClick() {
    //    document.getElementById('inc').value = ++i;
    //}
function myFunction() {
    //var table = document.getElementById("myTable");
    //var row = document.getElementById("myRow");
    //table.appendChild(row);
    $('#myTable tr:last').after('<tr id="myRow"><td>'+(++i)+'</td><td><input type="search"></td><td><input type="number"></td><td><input type="Text"></td><td><input type="Text"></td><td><input type="Text"></td><td> <button class="btn btn-danger btn-la"><i class="fa fa-trash-o "></i></button></td></tr>');
    
}
</script>

-->