@model Medicus_V1._6._1.ViewData.AdminDashBoardViewData
@{
    ViewBag.Title = "DashBoard";
}

<h2>@ViewBag.Title</h2>
    <section class="wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="box1">
                    <i class="fa fa-male fa-4x"></i>
                    <h3>@Model.todaysTotalCustomer</h3>
                    <p> Today's total customer is @Model.todaysTotalCustomer</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box1">
                    <i class="fa fa-medkit custom fa-4x"></i>
                    <h3>@Model.totalMedicine</h3>
                    <p> Total medicine on stock is @(Model.totalMedicine)</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="box1">
                    <i class="fa fa-money fa-4x"></i>
                    <h3>@Model.todaysTotalSale</h3>
                    <p> Today's total sale is @(Model.todaysTotalSale)tk</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box1">
                    <i class="fa fa-money fa-4x"></i>
                    <h3>@Model.todaysTotalPurchase</h3>
                    <p> Today's total purchase is @(Model.todaysTotalPurchase)tk</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box1">
                    <i class="fa fa-truck fa-4x"></i>
                    <h3>2</h3>
                    <p> Order's pending to deliver are 2</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <div class="box1">
                    <div class="panel-body text-center">
                        <canvas id="bar" height="300" width="400"></canvas>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="box1">

                    <h1>Today's Report</h1>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Total Activity</th>
                                <th>Taka</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total Income</td>
                                <td>@Model.todaysTotalSale</td>
                            </tr>
                            <tr>
                                <td>Total Purchase</td>
                                <td>@Model.todaysTotalPurchase</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>@(Model.todaysTotalSale - Model.todaysTotalPurchase)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>

